.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app__content {
  flex-basis: 90%;
}

.header {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background: lightgray;
}

.header__title {
  cursor: pointer;
}

.books {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.books__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.filters__genre {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
